body{
  font-family: helvetica;
  font-style: italic;
  background-color: black;
}
header{
  background-color: #5b7989;
  width: 100%;
  display: flex;
  text-shadow: 2px 2px #02010A;
  border-radius: 10px 10px 0 0;
  flex-flow: row wrap;
}
#titulo{
  width: 70%;
  text-indent:  15px;
}
#titulo>h1{
  color: white;
}
#menu{
  word-spacing: 18px;
  padding-top: 25px;
  text-align: center;
  width: 30%;
  font-size: 27px;
}
a{
  color: white;
}
.retratos{
  text-decoration: none;
}
#galeria{
  background-color: #d5c75f;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  border:1px;
  flex-flow: row wrap;
}
.imagen1,.imagen2,.imagen3,.imagen4,.imagen5,.imagen6{
  width: 33.33%;
}
.imagen1>img,.imagen2>img,.imagen3>img,.imagen4>img,.imagen5>img,.imagen6>img{
  margin: 30px;
  height: 180px;
  border: 1px solid black;
  box-shadow: 2px 2px #02010A;
}
.imagen1>img{
  filter: blur(10px);
}
.imagen2>img,.imagen4>img,.imagen6>img{
  filter: grayscale(100%);
}
.imagen3>img{
  filter: sepia(90%);
}
footer{
  width: 100%;
  display: flex;
  border-radius: 0 0 10px 10px;
  flex-flow: row;
  background-color: #c6d5c5;
  position: static;
}
.contacto,.terminos,.redes,.derechos{
  margin: 25px;
  width: 25%;
}
.contacto>h1,.terminos>h1,.redes>h1,.derechos>h1{
  text-shadow: 2px 2px white;
}
.contacto>p>a{
  color: black;
}
.contacto>p,.terminos>p,.redes>p,.derechos>p{
  margin-top: -10px;
  font-size: 20px;
  color: black;
  text-shadow: 1px 1px white;
}
.logo_facebook,.logo_twitter,.logo_instagram{
  width: 20px;
}
@media (max-width: 600px) {
  #titulo{
		width: 100%;
		order: 1;
    text-align: center;
	}
	#menu{
		width: 100%;
		order: 2;
    padding-bottom: 25px; text-align: center;
	}
  #galeria{
    flex-flow: column;
  }
  .imagen1>img,.imagen2>img,.imagen3>img,.imagen4>img,.imagen5>img,.imagen6>img{
    text-align: center;
    height: 240px;
    width: 370px;
  }
  footer{
    flex-flow: column;
  }
  .contacto,.terminos,.redes,.derechos{
    padding-left: 50px;
    text-align: left;
  }
}
